{% extends "layout/app.html.twig" %}
{% block CUSTOM_CSS %}

{% endblock %}

{% block CONTENT_MID %}
    <div class="container" style="margin-top: 150px !important;">
        <h1>Search results</h1>
        <hr>
        <div class="row">
        {% if data is defined and data is not empty %}
            {% for post in data %}
                    {% include 'blog/blog_post.html.twig' with {'data': post} %}
            {% endfor %}
        {% else %}
            <h4>There are no results for that search keyword, try to search again with different one</h4>
            <form class="d-flex" method="post" action="/search">
                <input type="hidden" name="csrf" value="{{ csrf_token('csrf') }}">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search blog posts" aria-label="Search blog posts">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        {% endif %}
        </div>
    </div>


{% endblock %}

{% block CUSTOM_JS %}

{% endblock %}

