<div class="col-md-4">

    <div class="p-4">
        <h4 class="fst-italic">Categories</h4>
        <ul class="list-unstyled mb-0">
            {% if data is defined and data is not empty %}
                {% for cat in data %}
                    <li><a href="{{ cat.slug }}">{{ cat.name }}</a></li>
                {% endfor %}
            {% endif %}

        </ul>
    </div>
</div>