<form class="d-flex" method="get" action="/search">
    <input type="hidden" name="csrf" value="{{ csrf_token('csrf') }}">
    <input class="form-control me-2" type="search" name="keyword" placeholder="Search blog posts" aria-label="Search blog posts">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>